body{
	margin: 0;
	padding: 0;
	position:absolute;
	width:100%;
	
	top : 0;
	left: 0;
	bottom : 0;
	overflow: hidden;

	display: -webkit-flex; /* Safari */
  	display: flex;

  	font-family:  "Arial","Microsoft YaHei","黑体","宋体",sans-serif; 
}

.menu_bar{
	width: 60px;
	height: 100%;
	flex-shrink : 0;
	background-color:#666;
}

.menu_bar img{
	max-width: 40px;
	padding:10px;
	background-color:#555;
}

.menu_bar a{
	width: 60px;
	height:60px;
	line-height:60px;
	text-align: center;
	color : #ddd;
	display:block;
	font-size:26px;
}
.menu_bar a:hover{
	background-color: #333;
	cursor: pointer;
}



.menu_bar hr{
	width:58px;
	height:1px;
	margin:0;
	padding:0;
	background: #666;
}

.main_container{
	height:100%;
	width:4000px;
	flex-grow : 1;
	flex-shrink : 1;
	background-color: #333;
	border-right:1px solid #777;
	position: relative;
}
.main_container > div{
	width:150px;
	min-height:80px;
	background-color: #666;
	position:absolute;
	border:2px solid #A7A7A7;
	border-radius: 4px;
	margin: 10px;
}

.main_container>div>.unit_header{
	height:24px;
	line-height:24px;
	padding-left:15px;
	font-size:12px;
	border-bottom:1px solid #A7A7A7;
	background-color: #333;
	color:#D7D7D7;
}

.units_container{
	width:200px;
	/*height:100%;*/
	padding-top:10px;
	background-color:#444;
	flex-shrink : 0;
	/*overflow-y: scroll;*/
}
.units_container > a{
	font-size:14px;
	display: block;
	padding-left:15px;
	height:24px;
	line-height:24px;
	color:#D7D7D7;
	font-weight: bold;
	cursor: pointer;
}

.units_container > a:hover{
	color:#FFF;
	background-color: #222;
}
.setting_panel{
	width : 340px;
	height:100%;
	background-color:#666;
	flex-shrink : 0;
}

.setting_panel .panel_header{
	height:34px;
	line-height:34px;
	padding-left:15px;
	color:#FFF;
	background-color:#555;
}
.setting_panel .material_preview{
	height:300px;
}
.setting_panel .material_setting{
	padding:15px;
}

.setting_panel .material_setting .material{
	display: flex;
	height:100px;
	background-color:#555;
	margin-bottom: 15px;
}
.setting_panel .material_setting .material:last-child{
	margin-bottom: 0;
}

.setting_panel .material_setting .material .preview{
	width:100px;
	height:100px;
	background: #333;
}

.setting_panel .material_setting .material_detail{
	display : flex;
	flex-direction:column;
	align-items:stretch;
	flex-grow: 1;
	padding-right:15px;
}

.setting_panel .material_setting .material_detail .material_name{
	height:40px;
	line-height:40px;
	padding-left:15px;
	margin-top: 10px;
	margin-left:15px;
	/*margin-right : 15px;*/
	background-color:#333;
	color:#D7D7D7;
}

.setting_panel .material_setting .material_detail .material_btns{
	text-align: right;
	color:#A9A9A9;
	font-size:18px;
	margin:10px 0;
}

.setting_panel .material_setting .material_detail .material_btns a{
	width:30px;
	text-align: center;
	display: inline-block;
	line-height: 30px;
}

.setting_panel .material_setting .material_detail .material_btns a:hover{
	background-color: #333;
	cursor: pointer;
}

.form_group{
	display: flex;
	margin-bottom:10px;
	font-size:12px;
}


.form_group:last-child{
	margin-bottom:0;
}

.form_group >label{
	width:80px;
	height:32px;
	line-height:32px;
	color:#D7D7D7;
	flex-shrink:0;
}

.form_group >div{
	flex-grow: 1;
}

.form_group >div>select{
	width:100%;
	height:32px;
	padding-left:10px;
	border:none;
	background-color: #333;
	color:#D7D7D7;
	margin-left: 1px;
}

.form_group >div>input{
	display: block;
	height:32px;
	padding-left:10px;
	border:none;
	background-color: #333;
	color:#D7D7D7;
	width:86px;
	margin-left:1px;
}

.form_group >div:first-child>input{
	margin-left:0px;
}

.form_group > a{
	flex-grow : 1;
	background-color:#333;
	height:40px;
	line-height:40px;
	color:#D7D7D7;
	text-align: center;
	margin-top:10px;
	font-size:14px;
}